# 1.6.1.3 Ensure SELinux policy is configured

- name: set var
  set_fact:
    task_name: "Ensure SELinux policy is configured"
    task_id: "1.6.1.3"
 
- name: 1.6.1.3 Ensure SELinux policy is configured
  shell: grep -E '^\s*SELINUXTYPE=(targeted|mls)\b' /etc/selinux/config
  register: grep_result
  ignore_errors: true

- name: Display
  set_fact:
    tasks_status: "Passed"
  when: grep_result.stdout.find('SELINUXTYPE=targeted') != -1

- name: Add result to task_results
  set_fact:
    task_results: "{{ task_results | default([]) + [{'task_id': task_id, 'task_name': task_name, 'tasks_status': tasks_status}] }}"

- name: unset var
  set_fact:
    tasks_status: "Failed"
    task_name: ""
    task_id: ""
