# 1.2.4 Ensure repo_gpgcheck is globally activated
- name: 1.2.4 Ensure repo_gpgcheck is globally activated
  shell: grep ^repo_gpgcheck /etc/dnf/dnf.conf
  register: grep_result
  ignore_errors: true

- name: Display
  set_fact:
    tasks_status: "[Passed]"
  when: grep_result.stdout.find('1') != -1

- name: Save result in file
  lineinfile:
    path: "{{Result_path}}"
    line: "1.2.4 Ensure repo_gpgcheck is globally activated {{tasks_status}}"
  delegate_to: localhost

- name: unset var
  set_fact:
    tasks_status: "[Failed]"
